<ion-header>
  <ion-navbar>
    <ion-title>{{ product.name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>

    <ion-slides #slides>
      <ion-slide *ngFor="let image of product.images">
        <img src="{{image}}" />
      </ion-slide>
    </ion-slides>

    <ion-card-content>
      <ion-card-title>
        <!-- <ion-chip color="dark" style="margin-right: 5px" *ngFor="let cat of product.categories" center>
          <ion-label color="light" > {{ cat }} </ion-label>
        </ion-chip> -->

        <ion-list>
         <ion-item>
          <ion-label style="font-size:25px;" >Nike Air <b>(Shoes)</b>  </ion-label>
         </ion-item>       
        </ion-list>

        <ion-label style="margin-left:12px">Item Price <b>${{product.price}}</b></ion-label>
         </ion-card-title>
        <ion-label style="text-align: center"> <u> Traveler's Reward </u></ion-label>
        <h1>from <b>$10</b></h1> 
      <p *ngIf="product.short_description" [innerHTML]="product.short_description"></p>

      <ion-item>
        <ion-label>Amount</ion-label>
        <ion-input type="number" value=""></ion-input>
      </ion-item>
      <ion-item (click)='flight()'>
        <ion-label>Select Flight</ion-label>
        <ion-input disabled type="number" value=""></ion-input>
      </ion-item>
      <button ion-button icon-left block outline color="primary">
        Send Offer
      </button>
    </ion-card-content>

  </ion-card>



  


  <ion-card *ngIf="details.length > 0">
    <ion-card-content>
      <ion-card-title>
         DETAILS
      </ion-card-title>

      <ion-grid>
        <ion-row *ngFor="let detail of details">
          <ion-col col-4>
            <b>{{ detail.title }}</b>
            <br/>
    
          </ion-col>
          <ion-col col-8>
            {{ detail.p_det }}
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>

    <ion-item >
      <ion-avatar item-start style="margin-left:40%;">
        <img  style="width:60px; height:60px" src="assets/imgs/s1.jpg">   
      </ion-avatar>    
    </ion-item>
    <h2 style="margin-left:15%"><b>Uzair</b> requested 22 minutes ago</h2>

    <button ion-button   style="border:#671a94; margin-left:25% ; color:white">
      <ion-icon name='mail' is-active="false" style=""></ion-icon>
     &nbsp;&nbsp; Chat with <b>&nbsp;&nbsp;Uzair </b>
</button>

<div style="margin:30px; font-size:50%;">
  <h6>Deliver to Hamza</h6>
  <h6>From USA</h6>
  <h6> <ion-icon name='pin'></ion-icon> &nbsp; Where to buy<a href="www.amazon.com">www.amazon.com</a></h6>
  <h6> <ion-icon name='basket'></ion-icon> &nbsp; Quantity 1</h6>
</div>

<button ion-button outline style="width: 48%;">
    <ion-icon name='logo-facebook'></ion-icon>&nbsp;Facebook</button>
<button ion-button outline style="width: 48%;">
    <ion-icon name='logo-instagram'></ion-icon>&nbsp;Instagram</button>

  </ion-card>
















  <ion-card *ngIf="reviews.length > 0">
    <ion-card-content>
      <ion-card-title>
         REVIEWS
      </ion-card-title>

      <ion-grid>
        <ion-row *ngFor="let review of reviews">
          <ion-col col-4>
            <b>{{ review.reviewer_name }}</b>
            <br/>
            <span *ngIf="review.rating >= 1">
              <ion-icon style="color: #d4af37" small name="star"></ion-icon>
            </span>
            <span *ngIf="review.rating >= 2">
              <ion-icon style="color: #d4af37" small name="star"></ion-icon>
            </span>
            <span *ngIf="review.rating >= 3">
              <ion-icon style="color: #d4af37" small name="star"></ion-icon>
            </span>
            <span *ngIf="review.rating >= 4">
              <ion-icon style="color: #d4af37" small name="star"></ion-icon>
            </span>
            <span *ngIf="review.rating >= 5">
              <ion-icon style="color: #d4af37" small name="star"></ion-icon>
            </span>

          </ion-col>
          <ion-col col-8>
            {{ review.review }}
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>