page-login {

    .getstart {
       // background-image: url('../../assets/imgs/login bg.jpg');
       background-color: rgb(241, 240, 240);
        background-repeat: no-repeat;
        background-size:cover;
    }
    .getstart img{
        height: 150px;
        width: auto;
        margin: auto;
        display: block;
        // margin-top: 10%;
    }

    // #t{
    //     width: 50%;
    //     margin: 0 25%;
    // }
    
    .in{
        border: 1px solid #ffffff;
        border-radius: 10px !important;
    
        // width: 50%;
        // margin: 0 25%;
        // min-width: 300px !important;
        border-top-left-radius: 29px;
        border-top-right-radius: 29px;
        border-bottom-left-radius: 29px;
        border-bottom-right-radius: 29px;
        
    }
    ion-item.item {
        background-color: rgb(185, 184, 185);
        border:  rgb(185, 184, 185) 1px solid;
       color:white;
       // color: white;

    .label { 
      width: 10%;
      color:white;
    }
    }
    ion-item .item-inner{
        border-bottom: none !important;
    }
    
    ion-spinner * {
        fill: rgba(102, 51, 153, 0.11);
    }
#t{
    background-color:rgb(61, 10, 85);
    color: rgba(231, 230, 231, 0.925);

    border: 1px solid #4d077c;
    border-radius: 10px !important;
}
#tt{
    border: 1px solid rgb(70, 10, 85);
    background-color:rgba(255, 255, 255, 0.925);
    border-radius: 10px !important;
}
    .test{
        fill: rebeccapurple;
    }
}
