page-login {

    .getstart {
       background-image: url('../../assets/imgs/io.jpg');
       background-color: rgb(241, 240, 240);
        background-repeat: no-repeat;
        background-size:cover;
    }
    .getstart img{
                 height: 150px;
        width: auto;
        margin: auto;
        display: block;
        // margin-top: 10%;
    }

     #t{
         width: 50%;
         margin: 0 25%;
     }
    
    .in{
        border: 1px solid #ffffff;
        border-radius: 10px !important;
    
        // width: 50%;
        // margin: 0 25%;
        // min-width: 300px !important;
        border-top-left-radius: 29px;
        border-top-right-radius: 29px;
        border-bottom-left-radius: 29px;
        border-bottom-right-radius: 29px;
        
    }
    ion-item.item {
        background-color:transparent;
        border:  white 1px solid;
       color:white;
       // color: white;

    .label { 
      width: 10%;
      color:white;
    }
    }
    ion-item .item-inner{
        border-bottom: none !important;
    }
    
    ion-spinner * {
        fill: rgba(102, 51, 153, 0.11);
    }
#t{
    background-color:white;
    color: purple;

   border: 1px solid blue;
    border-radius: 20px !important;
}
#tt{
    background-color:white;
    color: red;

    border: 1px solid green;
    border-radius: 20px !important;
}
    .test{
        fill: rebeccapurple;
    }
    
        
    }
