page-all-chats {
    ion-note {
        font-size: 14px;
        align-self: flex-start;
        margin-top: 14px;
    }
    #asd{
        margin-top: 50% !important;
        border: #671a94 1.5px solid;        
        border-radius: 0 40px !important;
    }
}
