<ion-header>

  <ion-navbar>
    <ion-title>chat</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card id='asd' *ngIf="chats.length == 0" class="Main">
    <ion-card-content text-center>
      <p>
        No chats to display!
      </p>
      <br>
      <br>
      <button style=" border: 1px solid #4d077c; border-radius: 0 40px !important;" ion-button outline item-center (click)='addflight()'>Add Flight</button>
    </ion-card-content>
  </ion-card>
  <ion-card style="border: 1px solid #4d077c; border-radius: 0 40px !important;" *ngFor="let chat of chats">
    <ion-list >
      <ion-item (click)='openChat()'>
        <ion-avatar item-start>
          <img src="assets/imgs/qasim.jpeg">
        </ion-avatar>
        <h2>Hamza</h2>
        <p>{{chat.msg}}</p>
        <ion-note item-end>3:43 pm</ion-note>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
