<ion-header>
  <ion-navbar>
    <ion-title>ZipShip</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>
  <ion-fab right bottom>
    <button id='tha' (click)='addPost()' ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-card id='maincard' style="margin: 0;width: 100% !important;">
    <!-- <img style="height: 100%;" src="assets/imgs/map1.jpg" /> -->
    <div class="card-a" padding>
      <h1 style="color:white;margin-bottom: 15px;font-size: 30px;">
        Get items from anywhere in the world delivered to you by trusted travellers. 
      </h1>  
      <ion-item style="border-radius: 20px;   border: 1px solid #4d077c;  border-radius: 0 0 40px 40px !important;">
        <ion-input   placeholder="Paste a link to create order"></ion-input>
      </ion-item>
    </div>
  </ion-card>
  <div *ngIf="posts.length == 0">
    <ion-card>
        <ion-card-content text-center>
            <ion-card-title>
              No Posts To Show!
            </ion-card-title>
            <p>
              Click the + icon to make a request or Add a flight and start making money!
            </p>
          </ion-card-content>
    </ion-card>
  </div>
  <ion-grid style="min-height: 100%; " *ngIf="posts.length > 0    ">
      <ion-col col-12 col-md-6 col-lg-4 col-xl-4 *ngFor='let post of posts;' style="height: 100%;">
          <ion-card [ngClass]="{'offer': post.active == 'true'}" class="meracard">
            <ion-item>
              <ion-avatar item-start>
                <img src="{{post.dp}}">
              </ion-avatar>
              <h2>{{post.firstname}} {{post.lastname}}</h2>
              <p>Posted {{post.created_at}}</p>
            </ion-item>
        
            <ion-card-content style="display: flex;padding-bottom: 0;" (click)="openProduct()">
              <img class="im" src="{{post.image_1}}">
              <ion-card-title style="width: 60%;">
                <h3>
                  <b> {{post.title}} </b>
                </h3>
                <ion-label style="margin-top: 0;margin-bottom: 0;"> Price
                  <b>${{post.item_price}}</b>
                </ion-label>
                <ion-label style="margin-top: 5px;margin-bottom: 0;font-size: 12px;">
                  From
                  <b>{{post.from_country}},{{post.from_city}}</b>
                </ion-label>
                <ion-label style="margin-top: 3px;margin-bottom: 0;font-size: 12px;">
                  To
                  <b>{{post.to_country}},{{post.to_city}}</b>
                </ion-label>
              </ion-card-title>
            </ion-card-content>
        
            <ion-card class="card2" [ngClass]="{'offer2': post.active == 'true'}">
              <ion-card-content style="padding-top: 0;" class='cus'>
                <div>
                  <ion-label style="text-align: center;margin-bottom: 3px;">
                    <u> Traveler's Reward </u>
                  </ion-label>
                  <h1>from
                    <b>${{post.traveler_reward}}</b>
                  </h1>
                  <button #ok class="gh" (click)="animateElem(post,ok);" ion-button icon-left block outline color="primary">
                    Make an Offer
                  </button>
                </div>
                <div [ngClass]="{'sho': post.active == 'true'}">
                  <ion-item>
                    <ion-label>Amount</ion-label>
                    <ion-input type="number" value=""></ion-input>
                  </ion-item>
                  <ion-item (click)='flight()'>
                    <ion-label>Select Flight</ion-label>
                    <ion-input disabled type="number" value=""></ion-input>
                  </ion-item>
                  <button ion-button icon-left block outline color="primary" (click)='makebid()'>
                    Send Offer
                  </button>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-card>
      </ion-col>
  </ion-grid>
</ion-content>