page-flights {
    #asd{
        margin-top: 50% !important;
        border: #671a94 1.5px solid;        
        border-radius: 20px !important;
    }
    .crd{
        border: #671a94 1.5px solid;    
        color:#671a94;
        border-radius: 10px !important;
        background-image: url('../../assets/imgs/Statue.jpg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }
    .crd1{
        border: #671a94 1.5px solid;     
        color:#671a94;
        border-radius: 10px !important;
        background-image: url('../../assets/imgs/Eifil.jpg') !important;
          
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }
    .crd2{
        border: #671a94 1.5px solid;     
        color:#671a94;
        border-radius: 10px !important;
        background-image: url('../../assets/imgs/UAE.jpg') !important;
          
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }
    .Main{
        border: #671a94 1.5px solid;        
        border-radius: 10px !important;
        background-image: url('../../assets/imgs/') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }
    .bg{
        border: #671a94 1.5px solid;        
        border-radius: 10px !important;
        background-image: url('../../assets/imgs/ptrn11.jpg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }
    h1{
        font-size: 20px !important;
        font-weight: bold !important;
    }
    h2 {
        width: 100%; 
        text-align: center; 
        border-bottom: 1px solid #000; 
        line-height: 0.1em;
        margin: 10px 0 20px; 
    } 
    h2 span { 
        background:#fff; 
        padding:0 10px; 
    }
}
