page-history {

ion-segment{
  width: 100%;
}
  .toolbar-background {
  //  background-color: #ffffff;
  background-color:  #3a1053;
  }

  .segment-ios-light .segment-button.segment-activated {
      color: #653b73;
      background-color: #ffffff;// #653b73;
      font-weight: bold;
  }

  .segment-ios-light .segment-button {
    border-color: #fff;
    //border-color: gray;
      color:white;
//    color: black;
}


h2{
  text-align: center;
  vertical-align: middle;
}




    .example {
        height: 150px;
    position: relative;
    -webkit-animation-name: example;
    animation-iteration-count: infinite;
    /* Safari 4.0 - 8.0 */
    animation-name: example;
      //   animation-direction: reverse;
animation-timing-function: linear;
    animation-duration: 3s;
  }

  @keyframes example {
    0% {
      left: 500px;
    }
    100% {
      left: -200px;
    }
  }

.gh{
    width: 100% !important;
  }

.cus{
      display: flex;
      height: 100%;
      flex-direction: column;
  }

.newcard{
      height:50%;
  }

.rows{
      height: 310px;
      transition: height 0.5s;
      margin-bottom: 10px;
  }

.im{
      width: 100px;
      height: 100px;
      // max-width: 35%;
      // height: 35%;
      margin-right: 10px;
      border-radius: 5px;
  }
#tha{
      height: 56px !important;
  }
  button{
      height: 40px !important;
  }
.roowww{
      height: 440px !important;
  }
.meracard{
      margin-top: 10px;
      height: 300px !important;
      transition: height 0.5s;
  }
.offer{
      height: 430px !important;
  }

.offer2{
      height: 250px !important;
  }


.card-md{
      height: 56%;
  }
.card2{
      height: 115px;
      transition: height 0.5s;
      position: relative;
  }

.asd{
      position: absolute;
      float: bottom;
      bottom: -84px;
  }
.test{
      width: 90%;
  }
.sho{
      bottom: 10px !important;
  }

#meracard {
   position: relative;
 }

.card-a {
  position: absolute;
  top: 3%;
  font-size: 3.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
}
.SwipedTabs-indicatorSegment
    {
        -webkit-transition: 0.3s all;
        -moz-transition:  0.3s all;
        -o-transition:  0.3s all;
        transition:  0.3s all;
        transform-origin: top 0 left 0;
        height: 2px;
	    position: relative;
	    top: -2px;
	    background-color: white !important;
    }
    .SwipedTabs-tabs ion-segment-button
    {
    	border:none !important;
      color:gray!important;
     
    	background-color:#3a1053 !important;
    }
     .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab
    {
        color: white !important;
    }
    .SwipedTabs-tabs
    {
    	border-bottom: solid 1px #e6e6e6  !important;
    }

}
