// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-title{
     margin-top: 12px !important;
     color: white;
}

.back-button-ios{
     margin-top: 12px !important;
}

.toolbar-background{
    background-color: #671a94;
}

.tabbar{
    background-color: #671a94  !important;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon{
    color: white;
}

.tabs-md .tab-button[aria-selected=true]{
    color: white;
}

.tabs-md .tab-button {
    color: #969b98;
}

.tabs-md .tab-button-icon{
    color: #969b98;
}




.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color: white;
}
.tabs-ios .tab-button[aria-selected=true] {
    color: #fefcff;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #f6fffa;
    background-color: transparent;
}