page-account {
    ion-avatar{
        height: 100px;
        width: 100px;
    }
    ion-avatar img{
        border-radius: 50%;
    }
    ion-label{
        color:#671a94 ;
    }

    #card-l{

        border: 1px solid #4d077c;
        border-radius: 0 40px !important;
        padding: 5%;
        margin-bottom: 3%;
       //box-shadow: 0px 0px 0px 2px;
        
      }
}
