<ion-header>

  <ion-navbar>
    <ion-title>ADD POST</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item id="card-x">
          <ion-label floating>Title</ion-label>
          <ion-input [(ngModel)]="post.title" type="text"></ion-input>
        </ion-item>
      
        <ion-item id="card-x" >
          <ion-label floating>Discription</ion-label>
          <ion-input [(ngModel)]="post.des" type="text"></ion-input>
        </ion-item>
      
        <div>
          <ion-item id="card-x">
            <ion-label floating>Images</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <button ion-button style="width: 100%;         border: 1px solid white;
          border-radius: 0 40px !important;  margin-bottom: 3%;" (click)="upload()">
            Choose Images
          </button>
          <img src="{{file}}" *ngFor="let file of files" style="width: 33%;">
        </div>

          <ion-item id="card-x" >
              <ion-label floating>Traveler Reward</ion-label>
              <ion-input [(ngModel)]="post.treward" type="number"></ion-input>
          </ion-item>
            
          <ion-label >Source Country</ion-label>
          <ion-searchbar placeholder="Search Country" [(ngModel)]="country" (click)='showList()' (ionInput)="filterItems($event)"></ion-searchbar>
          <ion-list *ngIf='hide == false'>
            <ion-item *ngFor="let item of items" (click)='selectCountry(item)'>
              {{ item }}
            </ion-item>
          </ion-list>
          
          <div *ngIf="country != ''">
            <ion-label>Source City</ion-label>
            <ion-searchbar placeholder="Search City" [(ngModel)]="city" (click)='showList3()' (ionInput)="filterItems2($event)"></ion-searchbar>
            <ion-list *ngIf='hide3 == false'>
              <ion-item *ngFor="let item of items" (click)='selectCity(item)'>
                {{ item }}
              </ion-item>
            </ion-list>
          </div>

          <ion-label>Destination Country</ion-label>
          <ion-searchbar placeholder="Search Country" [(ngModel)]="country2" (click)='showList2()' (ionInput)="filterItems($event)"></ion-searchbar>
          <ion-list *ngIf='hide2 == false'>
            <ion-item *ngFor="let item of items" (click)='selectCountry2(item)'>
              {{ item }}
            </ion-item>
          </ion-list>
          
          <div *ngIf="country2 != ''">
              <ion-label>Destination City</ion-label>
              <ion-searchbar placeholder="Search City" [(ngModel)]="city2" (click)='showList4()' (ionInput)="filterItems3($event)"></ion-searchbar>
              <ion-list *ngIf='hide4 == false'>
                <ion-item *ngFor="let item of items" (click)='selectCity2(item)'>
                  {{ item }}
                </ion-item>
              </ion-list>
            </div>






           <ion-item id="card-y">
              <ion-label floating>Note</ion-label>
              <ion-input [(ngModel)]="post.note"type="text"></ion-input>
         </ion-item>

         <ion-item id="card-x">
            <ion-label floating>Item_url</ion-label>
            <ion-input [(ngModel)]="post.url"type="text"></ion-input>
       </ion-item>

 <!--      <ion-item >
       <ion-label floating> </ion-label>
          <ion-input type="date"></ion-input>
     </ion-item>-->

     <ion-item id="card-x">
        <ion-label floating >Quantity</ion-label>
        <ion-input type="number" [(ngModel)]="post.qty"></ion-input>
   </ion-item>

    </ion-list>
  <button ion-button style="width: 100%;         border: 1px solid white;
  border-radius: 0 40px !important;" (click)='add()'> Add </button>
</ion-content>
